@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #ebebeb;
  overflow: hidden;
}

.snowflake {
  width: 10px;
  height: 10px;
  background: linear-gradient(
    #c4d9c1,
    #c4d9c1
  ); /* Workaround for Chromium's selective color inversion */
  border-radius: 50%;
  filter: drop-shadow(0 0 10px white);
}
